.page-main-banner{
    background-image: url(../images/section-top.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.page-main-banner h2.page-head{
    font-size: 66px;
}

.member-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 100px;
    padding: 60px 0 100px;
}


.member-img{
    width: 200px;
    height: 200px;
}
