.navbar {
  padding: 0;
  height: 75px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar a img {
  height: 65px;
  width: 200px;
}
.navbar ul li a {
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
}
.navbar ul li a::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #1d97dc;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: all 0.5s ease;
  transform: scale(0);
  transform-origin: center;
}
.navbar ul li a:hover::after {
  transform: scale(1);
}

.contact-form {
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.2));
  background-color: #fff;
  background-image: linear-gradient(90deg, #1d97dc 10%, #072a5e 90%);
  width: 150px;
  padding: 2px;
  border-radius: 8px;
}
.contact-btn {
  width: 100%;
  background-color: #fff;
}
.contact-btn:hover {
  background-color: inherit;
  /* color: #fff; */
}


@media only screen and (max-width: 768px){
  .navbar-collapse {
    left: 0;
    transition: all 0.5s ease;
    transform: translateX(-100%);
    display: block !important;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 70px 20px 20px;
    height: 100%;
    z-index: 99;
  }
  .navbar-collapse.show {

    transform: translateX(0);
    
  }
  .closeMenu {
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #00000061;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .navbar-collapse .contact-form{
    margin-inline: auto;
    width: 240px;
    height: 55px;
  }
  .navbar-collapse .contact-form button{
    height: 100%;
  }
  .navbar-nav {
    gap: 40px;
    margin-bottom: 80px !important;
    margin-top: 20px;
  }
  .navbar ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }
  .navbar ul li a::after {
    content: unset;
  }
}
