.navbar {
  padding: 0;
  height: 75px;
}
.navbar a img {
  height: 65px;
  width: 200px;
}
.navbar ul li a {
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.contact-form {
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.2));
  background-color: #fff;
  background-image: linear-gradient(90deg, #1d97dc 10%, #072a5e 90%);
  width: 150px;
  padding: 2px;
  border-radius: 8px;
}
.contact-btn {
  width: 100%;
  background-color: #fff;
}
.contact-btn:hover {
  background-color: inherit;
  /* color: #fff; */
}
